.board {
  text-align: center;
  font-size: 70px;
  width: 728px;
  border: 1px solid black;
  display: inline-block;
}

.funny {
  float:right;
  height: 700px;
  width: 505px;
}
.square {
  width: 91px;
  height: 87px;
  float: left;
}

li {
  list-style-type: none;
  cursor: pointer;
}

li:hover {
  background-color: rgb(221, 59, 59);
}

#turn {
  float: right;
  font-weight: bold;
  padding-right: 39%;
  font-size: 20px;
}